<div align="center">
  <form #userPost ="ngForm" class="add-ticker">
    <!-- [()] is two-way data binding, e.g., input and output -->
    <input type="text" name="ticker" [(ngModel)]="ticker" placeholder="enter ticker name...">
    <input type="submit" value="add" class="btn" (click) = "onSubmit(userPost.value)" >
    <input type="submit" value="delete" class="btn" (click)="onDelete(userPost.value)">
  </form>
</div>

