<app-nav></app-nav>
<app-header></app-header>
<hr>
<app-trader> </app-trader>
<hr>
<app-order-list> </app-order-list>
<span>the number is displayed here </span>

<div *ngFor="let o of orders | async" >
  <app-order-list [theOrder] = o></app-order-list>
</div>
<hr>
<app-watchlist-add-item> </app-watchlist-add-item>
<br>
<br>
<app-watchlist> </app-watchlist>

<app-watchlist-item [item]= "item"> </app-watchlist-item>
<hr>
<app-footer></app-footer>

