<!--<p>
  Quantity: <input type='number' [value]="quantity" (change)="updateQuantity($event)">
</p>


<p>
  Price: <input type='number' [value]="price" (change)="updatePrice($event)">
</p>

<div>
  <button (click)="submitOrder()">submit</button>
</div>-->

<!--<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">

      <div class="form-group">
        <label for="ticker">ticker: </label>
        <input type="text" [(ngModel)]="order.ticker"
               class="form-control"
               id="ticker"
               name="ticker"
               placeholder="Enter a valid ticker"
               required #ticker="ngModel">
      </div>

      <div class="form-group">
        <label for="type">Type: </label>
        <input type="text" [(ngModel)]="order.type"
               class="form-control"
               id="type"
               name="type"
               placeholder="Enter buy or sell"
               required #type="ngModel">
      </div>

      <div class="form-group">
        <label>Quantity: </label>
        <input type="text" [(ngModel)]="order.quantity"
               class="form-control"
               placeholder="Please enter the volume">
      </div>

      <div class="form-group">
        <label>Price: </label>
        <input type="text" [(ngModel)]="order.price"
               class="form-control"
               placeholder="Please enter the price">
      </div>
      <button type="submit" [disabled]="!userForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>-->
<!--
<h1> call post API in trader component</h1>
<form #userPost ="ngForm" (ngSubmit)="onSubmit(userPost.value)" >
  <input type="text" name="ticker" ngModel placeholder="ticker"> <br>
  <input type="text" name="type" ngModel placeholder="type"> <br>
  <input type="text" name="quantity" ngModel placeholder="quantity"> <br>
  <input type="text" name="price" ngModel placeholder="price"> <br>
  <button type = "submit"> submit </button>
</form>
-->

<form #userPost ="ngForm" (ngSubmit)="onSubmit(userPost.value)" class="order-Form">
  <mat-form-field class="form-full-width">
    <mat-label>Ticker </mat-label>
    <input matInput placeholder="" value="" name="ticker" ngModel>
  </mat-form-field> <br>
  <mat-form-field class="form-full-width">
    <mat-label>Type </mat-label>
    <input matInput placeholder="BUY/SELL" value="" name="type" ngModel>
  </mat-form-field> <br>

  <mat-form-field class="form-full-width">
    <mat-label>Quantity </mat-label>
    <input matInput placeholder="" value="" name="quantity" ngModel>
  </mat-form-field> <br>

  <mat-form-field class="form-full-width">
    <mat-label>Price </mat-label>
    <input matInput placeholder="Enter value" value="" name="price" ngModel>
  </mat-form-field> <br>
  <button type = "submit"> submit </button>

</form>

