<mat-card>Order History</mat-card>
<table mat-table [dataSource]="orders" matSort class="mat-elevation-z8" align="center">
  <!-- TODO: what is the right way to align the table to the center? -->

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="ticker">
    <th mat-header-cell *matHeaderCellDef> ticker </th>
    <td mat-cell *matCellDef="let element"> {{element.ticker}} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> type </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> quantity </th>
    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> price </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> state </th>
    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
  </ng-container>

  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef> created </th>
    <td mat-cell *matCellDef="let element"> {{element.created}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!--<div class="card my-5">
  <div class="card-body">
    <p> Your past orders will be displayed in the table below</p>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">date</th>
        <th scope="col">state</th>
        <th scope="col">type</th>
        <th scope="col">ticker</th>
        <th scope="col">quantity</th>
        <th scope="col">price</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of order">
        <td>{{ order.date }}</td>
        <td>{{ order.state }}</td>
        <td>{{ order.type }}</td>
        <td>{{ order.ticker }}</td>
        <td>{{ order.quantity }}</td>
        <td>{{ order.price }}</td>

      </tr>
      </tbody>
    </table>
  </div>
</div> -->

Date: {{theOrder?.created}}, State: {{theOrder?.state}}, Type: {{theOrder?.type}}, Ticker: {{theOrder?.ticker}}, Volume: {{theOrder?.quantity}}, price: {{theOrder?.price}}

