

<div  align="center">
  <table class="mdl-data-table">
    <tbody>
    <tr *ngFor="let item of items | async">
      <td class="mdl-data-column" align="left"> {{item.ticker}} </td>
      <td class="mdl-data-column" align="right"> {{item.item.c}} </td>
      <td class="mdl-data-column" align="right">{{item.item.h}} </td>
      <td class="mdl-data-column" align="right">{{item.item.l}}  </td>
      <td class="mdl-data-column" align="right">{{item.item.o}}  </td>
      <td class="mdl-data-column" align="right">{{item.item.pc}}   </td>
    </tr>
    </tbody>
  </table>
</div>
