
.todo {
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
}

.is-complete {
  text-decoration: line-through;
}

.mdl-data-table {
  width: 75%;
  height: 50px;
  border-bottom: 1px solid #ddd;
}

.mdl-data-column {
  width: 10%;
}
