<div align="center">
  <!--app-watchlist-add-item (addSymbol)="addSymbol($event)"></app-watchlist-add-item-->
  <table class="mdl-data-table">
    <thead>
    <tr>
      <th class="mdl-data-column" align="left">Ticker</th>
      <th class="mdl-data-column" align="right">current</th>
      <th class="mdl-data-column" align="right">high</th>
      <th class="mdl-data-column" align="right">low</th>
      <th class="mdl-data-column" align="right">open</th>
      <th class="mdl-data-column" align="right">previous close</th>

    </tr>
    </thead>
  </table>

  <!-- |*ngFor="let quote of quoteList"| queries quotes locally in |watchlist.component.ts|.
   It passes each quote 1by1 by |[quote]="quote"| to |quote| in |quote-item.components.ts|
   where it should use |@input| to accept |quote|.
   Then in |quote-item.component.html| it can use quote. -->
  <!-- |(deleteQuoteItem)| is output from sub component |app-quote-item|.
   It is caught by |deleteQuote($event)|
   and handled by function |deleteQuote| in ts file.-->
  <!--app-quote-item *ngFor="let quote of quoteList"
                  [quote]="quote"
                  (deleteQuoteItem)="deleteQuote($event)">
  </app-quote-item-->
</div>
